{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="row">
      <div class="span4 offset4 well" style="text-align: center">
          <h4 >Waiting for a news story?</h4><br>
          <p><strong>1.</strong> Tell us something to look for</p>
          <p><strong>2.</strong> Pick your favorite news site</p>
          <p><strong>3.</strong> We'll let you know when something shows up</p>
      </div>
    </div>


    <div class="row">
      <div class="span4 offset4 well well-large" style="text-align:center">
          {% if error %}
          <div class="offset1 span4 row alert alert-block alert-error">
              <h4>Warning!</h4>
              <p>The data you have entered is invalid, please try again.</p>
          </div>
          {% endif %}

          <form action="/receive_query/" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
          </form>
          <p><small>Your email address will be used only to notify you</small></p>
          <p><small>Want more options? <a href="/accounts/signup">Create an account</a></small></p>
      </div>
    </div>
{% endblock %}
