{% extends "base.html" %}

{% block extra_head %}
    <script language="javascript">
        <!--
        window.onload = redirect("/accounts/profile/", 2500)
        //-->
    </script>
{% endblock %}

{% block content %}
    <div class="pull-right">
        <a href="/accounts/profile/"><i class="icon-arrow-left"></i> Back to My Searches</a>
    </div>
    <br><br>

    <div class="alert alert-success">
        <h3>Your changes have been saved</h3>
    </div>
    <small>You are being redirected back to your searches page</small>
    <br>
{% endblock %}
