{% extends "base.html" %}

{% block extra_head %}
	<script language="javascript">
	<!--
		window.onload = setTimeout(function(){window.location="/"},3500)
        window.onload = redirect("/",3500)
	//-->
	</script>
{% endblock %}

{% block content %}
    <div class="alert alert-success">
        <h3>Thank you for your feedback!</h3>
        <p>Giving thumbs up or down improves the quality of our results in the future</p>
    </div>
    <small>You are being redirected back to our home page</small>
    <br>
{% endblock %}
